/* styles */
/* called by your view template */
/*
Dark Green: #3c7e03
Light Treen:  #20a25c
Dark Pink: #ef939c
Light Pink: #F7D3D5
Grey: #59585a 
*/
* {
  box-sizing: border-box
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 15px;
  background-color: #fbfffb;
}
h1 {
  font-weight: bold;
  font-size: 48px;
  color: #20a25c;
  text-align:center;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

#data-container {
  min-height: 160px;
  width: 100%;  
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
    background-color:  #ef939c;
}

li {
    float: left;
}

li a {
    display: block;
    color: #080809;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #3c7e03 (dark green) on hover */
li a:hover {
    background-color: #20a25c;
    color:#ffffff;
}

.active {
    background-color: #4CAF50;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#homeleft {
  width:100%;
  float: left;
}
#homeright {
  width:0%;
  display: inline-block;
}
#logo {
  width: 100%;
}